{#
/**
 * @file user-terms.html.twig
 * Default theme implementation to present the user terms.
 *
 * Available variables:
 * - user: The user entity.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_terms()
 *
 * @ingroup themeable
 */
#}
{% if user %}
    <div class="user_terms">
      <div class="user_terms__message">
        Donec eu quam ac ante rutrum vulputate sit amet ut mauris. Morbi blandit lacus et erat dictum, nec hendrerit elit commodo. Pellentesque at lacus nisi. Pellentesque dapibus justo erat. Nam maximus, enim mattis dignissim egestas, mi diam tempus mauris, a sollicitudin turpis nisl id neque. Vestibulum tincidunt arcu sit amet pellentesque faucibus. Integer ipsum risus, semper eget porttitor rutrum, placerat eu libero.
      </div>
    </div>
{% endif %}

